<!-- template-lint triple-curlies=false -->
<div class="container">
    <div class="row">
        <div class="notification-list col-md-8">
            <div>
                <h4 class="notification-list-heading">{{t 'components.notificationList.heading'}}</h4>
                <span class="helper-text"> {{t 'components.notificationList.helperText'}} <a href={{serviceLinks.settings}}>{{t 'components.notificationList.userSettings'}}</a>.</span>
            </div>

            <div class="notification-list-body">
                {{#each subscriptions as |subscription|}}
                    <hr>
                    {{notification-list-row subscription=subscription}}
                    <hr>
                {{/each}}
            </div>
        </div>
    </div>
</div>