{{#file-renderer links=primaryFile.links
    width="99%" height="700"}}
{{/file-renderer}}

<div class="row">
    <div class="col-sm-6">
        <p class="f-w-lg p-b-md">{{primaryFile.name}}</p>
    </div>
    <div class="col-sm-6 text-nowrap supplemental-downloads">
        <a class="btn btn-default btn-sm" href={{fileDownloadURL}}> {{t "content.share.downloadPreprint" documentType=preprint.provider.documentType}}</a>
        <span class="p-sm"> {{t "content.version"}}: {{primaryFile.currentVersion}}</span>
    </div>
</div>
